p {
    margin: 0px;
}
* {
    box-sizing: border-box;
    color: #fff;
}
:root {
    --f-size: 16px;
    --pad: 10px;
    --margin: 10px;
}
body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: var(--f-size);
    font-family: Tahoma;
    background-color: #222;
}
#legend {
    border: 2px solid #000;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px;
}
#legend :first-child {
    font-size: 24px;
}
#prefs {
    position: absolute;
    width: 35vw;
    min-width: fit-content;
    padding: var(--pad); 
    background-color: #444;

}
.task {
    position: relative;
    background-color: #fff2;
    padding: var(--pad);
    margin: var(--margin);
    border-radius: 5px;
}
.bar {
    position: relative;
    background-color: #0c0;
    width: calc(var(--pad) * 2 + 100%);
    left: calc(var(--pad) * -1);
    bottom: calc(var(--pad) * -1);
    min-height: 1em;
    border-radius: 5px;
    box-sizing: border-box;
    padding: calc(var(--pad) / 2);
}
.bar:only-child {
    min-height: 0px;
}
#toplayer {
    position: absolute;
    height: 100%;
    width: 100%;
}
#title {
    position: relative;
    font-size: calc(var(--f-size) * 2);
    text-align: center;
    width: 100%;
}
textarea {
    resize: none;
    overflow: hidden;
    background-color: unset;
    color: inherit;
    text-align: center;
    width: 100%;
    
    border-radius: 4px;
    border: none;
}
textarea, input, button {
    background-color: #222;
    border: none;
}
button:active {
    background-color: #522;
}
.task > input, .task > button {
    display: inline;
}