
* {
    box-sizing: border-box;
    color: #fff;
    /* text-align: center; */
}
/* Vars */
:root {
    --f-size: 16px;
    --pad: 10px;
    --margin: 10px;
}
/* Defaults */
p {
    margin: 0px;
}
body {
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
    font-size: var(--f-size);
    font-family: Tahoma;
    background-color: #222;
}
/* ID Targets*/
#legend {
    border: 2px solid #000;
    border-radius: 5px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 5px;
    background-color: #000;
    z-index: 5000;
}
#legend :first-child {
    font-size: 24px;
}
#prefs {
    position: absolute;
    width: 35vw;
    min-width: fit-content;
    padding: var(--pad); 
    background-color: #444;

}
/* Class Targets    */
.task {
    position: relative;
    background-color: #fff2;
    padding: var(--pad);
    margin: var(--margin);
    border-radius: 5px;
    transition: all 0.5s;
}
/* Tasks with no nesting; Don't bother combining the two with :not(), it didn't work for me*/
.leaf-task-ctrls {
    display: none;
}

.task:has(> div.task-container > div.nested:first-child:empty) .leaf-task-ctrls{
    background-color: #b00;
    min-height: 20px;
    display: block;
}
.bar {
    position: relative;
    background-color: #050;
    width: calc(var(--pad) * 2 + 100%);
    left: calc(var(--pad) * -1);
    bottom: calc(var(--pad) * -1);
    min-height: 1em;
    border-radius: 5px;
    box-sizing: border-box;
    padding: calc(var(--pad) / 4);
}
#toplayer > div > .bar {
    position: fixed;
    bottom: 0px;
}
.bar-fg {
    /* background-color: #0b0; */
}
.bar:not(:only-child)  {
    min-height: 0px;
}
#toplayer {
    position: absolute;
    height: 100%;
    width: 100%;
}
#title {
    position: relative;
    font-size: calc(var(--f-size) * 2);
    text-align: center;
    width: 100%;
}
textarea {
    resize: none;
    overflow: hidden;
    background-color: unset;
    color: inherit;
    width: 100%;
    height: calc(1em + var(--pad));
    box-sizing: content-box;
    border-radius: 4px;
    border: none;
}
textarea, input, button {
    background-color: #222;
    border: none;
}
textarea:placeholder-shown, input:placeholder-shown {
    font-style: italic;
}

button:active {
    background-color: #522;
}
.task > input, .task > button {
    display: inline;
}